.head{
    background-color: #F4A900;
    padding-bottom: 75px;
    padding-left: 100px;
}
.menu{
    background-color: #CDA434;
    padding-bottom: 25px;
    padding-left: 100px;
}
.Main-content{
 
 background-color: #E1CC4F;
 width:100%

}
.section1{
    background-color: #FCE883;
    width:100%
}
.footer{
    margin-top: 75px;
    background: #CDA434;
    padding-bottom: 25px;
    padding-left: 60px;
}
